# **Basics of List Comprehension:**

- How to create a list while writing more elegant code, Easy to read
- Can be implemented using diffrent instances

In [2]:
# create a list using for loop (store integers from 0 - 10)
list_1 = []

for num in range(11):
    list_1.append(num)

list_1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
# creating even and odd lists using for loop
list_2 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even_list = []
odd_list = []

for num in list_2:
    if num % 2 == 0:
        even_list.append(num)
    else:
        odd_list.append(num)

print(f"Even Nuumbers:{even_list},and Odd Numbers:{odd_list}")

Even Nuumbers:[0, 2, 4, 6, 8, 10],and Odd Numbers:[1, 3, 5, 7, 9]

**List Comprehension:** More simple way to write above examples. Allow manupilation, modification and Calculation on every single item in the list, all at once.

`new_list = [expression for variable iteration]`

In [5]:
# create a list of integers from 0 to 4.
my_list = [num*2 for num in range(5)]
my_list

[0, 2, 4, 6, 8]

`new_list = [expression for variable in iterable if condition == True]`

In [7]:
# create a list of even number between 0 throgh 7
even_list =[num for num in range(7) if num % 2 == 0]
even_list

[0, 2, 4, 6]

**Example:**

Write a program that reads a list of integers then computes the alternating sum of all items in the List.

In [9]:
# value list
list_num = [1, 4, 9, 16, 9, 7, 4 ,9, 11]

# compute to find alternate sum
computed_list = sum([list_num[i] * (-1)** i for i in range(len(list_num))])

# print the output
print(f"Alternate Sum: {computed_list}")

Alternate Sum: -2

**Example 2:**

Using List comprehension computes the standard deviation of `𝑁` real numbers. The standard deviation `𝑠` is computed according to the following formula:

                          `s=√(((x_1-x ̅ )^2+(x_2-x ̅ )^2+⋯+(x_N-x ̅ )^2)/N)`

The variable `x ̅ `is the average of `𝑁` input values from `x_1` to `x_N`. 
input `𝑁` as a list of intergers and then declares an array of size `𝑁`. After that, it calculates `𝑠` by using this equation and shows the result on the screen. 
You are not allowed to use Python functions for mean or standard deviation.

In [11]:
# list if values
list_values = [86, 87, 88, 86, 87, 85, 86]

# calculate mean value (x ̅ )
mean_value = sum(list_values)/len(list_values)

# calculate value variance: (x_1-x ̅ )^2+(x_2-x ̅ )^2
value_var = sum([(val - mean_value)**2 for val in list_values])/len(list_values)

# calculate std
value_std = value_var**0.5
print(f">>Standard Deviation<<\nMean:{mean_value}\nStandard Deviation:{value_std}")

>>Standard Deviation<<
Mean:86.42857142857143
Standard Deviation:0.9035079029052513

# **Basics of Lambda Function:**

- Is  a user-defined function, commonly referred to as anonymous functions
- Effecient to create simple expressions, usally with a single line of statement.
- Useful when you want to use the function once.
- Does not have return keyword, because it automatically return the result once function is executed

`lambda argument(s): expression`

`Lambda` - Keyword,

`argument(s)` - a variable to hold the value to be passed into the fuction, 

`expression` - code to be executed in lambda function 


### **Common use Cases for Lambda function**

##### **1. Sorting with Custom Keys**

In [14]:
names = ["Elizabeth","Peter","Job","Charlie"]
sorted_names = sorted(names, key = lambda x:len(x))
sorted_names

['Job', 'Peter', 'Charlie', 'Elizabeth']

##### **2. Using with `map()`**

In [16]:
numbers = [1,2,3,4,5]
squared = list(map(lambda x: x**2, numbers))
squared

[1, 4, 9, 16, 25]

##### **3.Using with `filter()`**

In [18]:
my_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_list = list(filter(lambda x: x % 2 == 0,my_list))
even_list

[0, 2, 4, 6, 8, 10]

##### **4. Conditional logic in expressions**

In [20]:
scores = [88,72,49,50,90,35]
max_score = max(map(lambda x: x if x >= 50 else 0, scores))
print(f"Maximum Score:{max_score}")

Maximum Score:90

##### **5. Using in Pandas(DataFrames)**

In [22]:
import pandas as pd

df = pd.DataFrame(
        {"Students":["Elizabeth","Peter","Job","Charlie","John","Doe"],
         "Scores":[88,72,49,50,90,35]})
df["Category"] = df["Scores"].apply(lambda X: "Pass" if X >= 50  else "Fail")
df

    Students  Scores Category
0  Elizabeth      88     Pass
1      Peter      72     Pass
2        Job      49     Fail
3    Charlie      50     Pass
4       John      90     Pass
5        Doe      35     Fail